DB_URL=jdbc:postgresql://postgres:5432/postgres
DB_USER=postgres
DB_PASSWORD=change-me
DB_NAME=postgres
DB_PORT=5432
TOKEN_ENDPOINT=http://s21auth:8081/api/tokens/default
BOT_SERVICE_URL=http://s21bot:8083
DDL_AUTO=validate
CAMPUS_WORKPLACE_PROVIDER=graphql
