DB_URL=jdbc:postgresql://postgres:5432/postgres
DB_USER=postgres
DB_PASSWORD=change-me
DB_NAME=postgres
DB_PORT=5432
TOKEN_ENDPOINT=http://s21auth:8081/api/tokens/default
BOT_SERVICE_URL=http://s21bot:8083
DDL_AUTO=validate

API_CLIENT_ENABLED=true
GRAPHQL_API_ENABLED=true
CAMPUS_API_ENABLED=true
CLUSTER_API_ENABLED=true
PARTICIPANT_API_ENABLED=true
PROJECT_API_ENABLED=true
COALITION_API_ENABLED=true

COALITION_PROVIDER=auto
COALITION_REST_FETCH_MEMBER_COUNT=false
COALITION_REST_PAGE_SIZE=1000

PROJECTS_PROVIDER=graphql
PROJECTS_REST_PAGE_SIZE=1000

GRAPHQL_COALITION_REFRESH_TTL=PT15M
GRAPHQL_PROJECTS_REFRESH_TTL=PT15M
CAMPUS_WORKPLACE_PROVIDER=graphql
