DB_URL=jdbc:h2:file:/Users/<your-user>/.s21meet/h2/s21auth;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
H2_TCP_PORT=9093
DDL_AUTO=update
DB_USER=sa
DB_PASSWORD=
EDU_LOGIN=your_login
EDU_PASS=your_password
CRYPTO_KEY_BASE64=base64_aes_key
TOKEN_URI=/auth/realms/EduPowerKeycloak/protocol/openid-connect/token
