DB_URL=jdbc:h2:file:/Users/<your-user>/.s21meet/h2/s21auth;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
H2_TCP_PORT=9093
DDL_AUTO=update
DB_USER=sa
DB_PASSWORD=
EDU_LOGIN=your_login
EDU_PASS=your_password
CRYPTO_KEY_BASE64=base64_aes_key
TOKEN_URI=/auth/realms/EduPowerKeycloak/protocol/openid-connect/token
AUTH_CB_SLIDING_WINDOW_SIZE=20
AUTH_CB_MIN_CALLS=10
AUTH_CB_FAILURE_RATE_THRESHOLD=50
AUTH_CB_WAIT_OPEN=30s
AUTH_CB_HALF_OPEN_CALLS=3
AUTH_CLIENT_CONNECT_TIMEOUT=PT5S
AUTH_CLIENT_READ_TIMEOUT=PT20S
