BOT_TOKEN=
BOT_ADMIN=
BOT_GROUP=
BOT_GROUP_INVITE_LINK=
BOT_WEB_APP_URL=https://REPLACE_WITH_PUBLIC_WEBAPP_DOMAIN/
BOT_PROXY_ENABLED=false
BOT_PROXY_TYPE=SOCKS
BOT_PROXY_HOST=127.0.0.1
BOT_PROXY_PORT=0
BOT_NOTIFY_ENABLED=false
PROFILE_SERVICE_URL=http://localhost:8082
ROCKETCHAT_SERVICE_URL=http://localhost:8084
