DB_URL=jdbc:h2:file:/Users/<your-user>/.s21meet/h2/s21edu;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;NON_KEYWORDS=ROW
H2_TCP_PORT=9092
DDL_AUTO=update
TOKEN_ENDPOINT=http://localhost:8081/api/tokens/default
BOT_SERVICE_URL=http://localhost:8083
NOTIFY_DELIVERY_ENABLED=false
DB_USER=sa
DB_PASSWORD=
GRAPHQL_API_ENABLED=true
CAMPUS_WORKPLACE_PROVIDER=graphql
COALITION_PROVIDER=graphql
NOTIFY_SCHEDULER_ENABLED=false
EVENT_SCHEDULER_ENABLED=true
PROJECTS_SCHEDULER_ENABLED=true
CREDENTIALS_SCHEDULER_ENABLED=true
CAMPUS_SCHEDULER_ENABLED=true
GRAPHQL_GLOBAL_RETRY_MAX_ATTEMPTS=3
