ROCKET_CHAT_TOKEN=
ROCKET_CHAT_URL=
ROCKET_CHAT_QR_BOT=
ROCKET_CHAT_QR_TIMEOUT=30
ROCKET_CHAT_MESSAGE_TIMEOUT=15
PROFILE_SERVICE_URL=http://localhost:8082
ROCKETCHAT_RETRY_MAX_ATTEMPTS=3
ROCKETCHAT_RETRY_WAIT_DURATION=500ms
ROCKETCHAT_RETRY_EXPONENTIAL_BACKOFF=true
ROCKETCHAT_RETRY_EXPONENTIAL_MULTIPLIER=2
ROCKETCHAT_CB_SLIDING_WINDOW_SIZE=20
ROCKETCHAT_CB_MIN_CALLS=10
ROCKETCHAT_CB_FAILURE_RATE_THRESHOLD=50
ROCKETCHAT_CB_WAIT_OPEN=30s
ROCKETCHAT_CB_HALF_OPEN_CALLS=3
