# DB
DB_URL=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# External modules
TOKEN_ENDPOINT=
BOT_SERVICE_URL=

# JPA
DDL_AUTO=validate

# Campus graphql or rest
CAMPUS_WORKPLACE_PROVIDER=
