BOT_TOKEN=
BOT_ADMIN=
BOT_GROUP=
BOT_GROUP_INVITE_LINK=
BOT_PROXY_ENABLED=false
BOT_PROXY_TYPE=SOCKS
BOT_PROXY_HOST=telegram-proxy
BOT_PROXY_PORT=1080
PROFILE_SERVICE_URL=http://s21edu:8082
ROCKETCHAT_SERVICE_URL=http://s21rocket:8084
