PROFILE_SERVICE_URL=http://s21edu:8082
BOT_TOKEN=REPLACE_WITH_BOT_TOKEN
TELEGRAM_WEBAPP_AUTH_ENABLED=true
TELEGRAM_WEBAPP_MAX_AGE=PT1H
TELEGRAM_WEBAPP_HEADER=X-Telegram-Init-Data
PROJECT_EXECUTORS_RATE_LIMIT_ENABLED=true
PROJECT_EXECUTORS_RATE_LIMIT_FOR_PERIOD=60
PROJECT_EXECUTORS_RATE_LIMIT_REFRESH_PERIOD=PT1M
WEB_FEIGN_CONNECT_TIMEOUT_MS=5000
WEB_FEIGN_READ_TIMEOUT_MS=20000
